In [1]:
# Dependencies
import json
import requests
import pandas as pd
from config import api_key

In [2]:
# List of places
search_urls = ['Chick-fil-A', 'Sonic Drive-In', "Arby's", 'Dairy Queen', 'Subway', 'Taco Bell', 'Burger King', "McDonald's"]

# API URL
url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=44.9766,-93.2432&radius=50000&keyword='
# url2 = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.2403,-94.6482&radius=50000&keyword='

# Empty List
places = []

In [3]:
# X,Y,OBJECTID,ID,Letter,Address,City,State,Zip,Phone,Lat,Long_,Restaurant

In [4]:
# Loop through search items
for place in search_urls:
    
    # Create search query, make request and store in json
    query_url = f'{url}{place}&key={api_key}'
    response = requests.get(query_url).json()
    # print(query_url)
    # Loop through results
    for item in response['results']:
        # Check if location is in MN
        # print(item)
        if 'Minnesota' in item['plus_code']['compound_code']:
            # Assign values
            item_dict = {
                # 'X': item['geometry']['location']['lng'],
                # 'Y': item['geometry']['location']['lat'],
                # 'OBJECTID': 0,
                # 'ID': 0,
                # 'Letter': 'x',
                'Address': item['vicinity'],
                'City': item['vicinity'],
                'State': 'MN',
                # 'Zip': 0,
                # 'Phone': 000,
                'Lat': item['geometry']['location']['lat'],
                'Long_': item['geometry']['location']['lng'],
                'Restaurant': item['name']
            }

            places.append(item_dict)

# # Create search query, make request and store in json
# response = requests.get(chick_url).json()

In [55]:
len(places)

147

In [5]:
df = pd.DataFrame(places)
df

,Address,City,State,Lat,Long_,Restaurant
0,"8020 MN-7, St Louis Park","8020 MN-7, St Louis Park",MN,44.937051,-93.381334,Chick-fil-A Knollwood
1,"2090 Snelling Ave N, Roseville","2090 Snelling Ave N, Roseville",MN,45.004271,-93.165906,Chick-fil-A
2,"2500 W 79th St, Bloomington","2500 W 79th St, Bloomington",MN,44.861015,-93.310701,Chick-fil-A
3,"615 Washington Ave SE, Minneapolis","615 Washington Ave SE, Minneapolis",MN,44.973977,-93.229253,Chick-fil-A
4,"3005 Harbor Ln N, Plymouth","3005 Harbor Ln N, Plymouth",MN,45.013267,-93.462382,Chick-fil-A
...,...,...,...,...,...,...
142,"4605 Central Ave NE, Minneapolis","4605 Central Ave NE, Minneapolis",MN,45.052127,-93.246878,McDonald's
143,"3220 Southdale Cir, Edina","3220 Southdale Cir, Edina",MN,44.882146,-93.319643,McDonald's
144,"1351 Town Centre Dr, Eagan","1351 Town Centre Dr, Eagan",MN,44.829875,-93.165308,McDonald's
145,"3990 Co Rd 42, Savage","3990 Co Rd 42, Savage",MN,44.747048,-93.330013,McDonald's
146,"1388 Maryland Ave E, St Paul","1388 Maryland Ave E, St Paul",MN,44.977170,-93.042657,McDonald's

In [57]:
df['Restaurant'].unique()

array(['Chick-fil-A Knollwood', 'Chick-fil-A', 'Chick-fil-A Maplewood',
       'Sonic Drive-In', 'The Drive In Restaurant', 'Minnetonka Drive In',
       "Arby's", 'Dairy Queen Grill & Chill', 'Dairy Queen',
       'Dairy Queen (Treat)', 'Dairy Queen(treat)', 'Subway',
       'Taco Bell Defy', 'Taco Bell', 'Burger King', "McDonald's"],
      dtype=object)

In [7]:
# df.to_csv('places.csv', index=False)

In [58]:
df['Restaurant'].unique()

array(['Chick-fil-A Knollwood', 'Chick-fil-A', 'Chick-fil-A Maplewood',
       'Sonic Drive-In', 'The Drive In Restaurant', 'Minnetonka Drive In',
       "Arby's", 'Dairy Queen Grill & Chill', 'Dairy Queen',
       'Dairy Queen (Treat)', 'Dairy Queen(treat)', 'Subway',
       'Taco Bell Defy', 'Taco Bell', 'Burger King', "McDonald's"],
      dtype=object)

In [6]:
df_clean = df.drop( df.query(" `Restaurant`=='The Drive In Restaurant' ").index)

In [7]:
df_clean = df_clean.drop( df_clean.query(" `Restaurant`=='Minnetonka Drive In' ").index)

In [8]:
df_clean['Restaurant'].unique()

array(['Chick-fil-A Knollwood', 'Chick-fil-A', 'Chick-fil-A Maplewood',
       'Sonic Drive-In', "Arby's", 'Dairy Queen Grill & Chill',
       'Dairy Queen', 'Dairy Queen (Treat)', 'Dairy Queen(treat)',
       'Subway', 'Taco Bell Defy', 'Taco Bell', 'Burger King',
       "McDonald's"], dtype=object)

In [63]:
df_clean.to_csv('new_places.csv', index=True)

In [65]:
import sqlite3
import pandas as pd

In [66]:
conn = sqlite3.connect('fastfood_locations_twincities.db')

In [67]:
df_clean.to_sql('places', conn, if_exists='replace')

145

In [68]:
conn.close()