In [1]:
# Dependencies
import json
import requests
import pandas as pd
from config import api_key

In [2]:
# List of places
search_urls = ['Chick-fil-A', 'Sonic Drive-In', "Arby's", 'Dairy Queen', 'Subway', 'Taco Bell', 'Burger King', "McDonald's"]

# API URL
url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=44.9766,-93.2432&radius=50000&keyword='
# url2 = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.2403,-94.6482&radius=50000&keyword='

# Empty List
places = []

In [3]:
# X,Y,OBJECTID,ID,Letter,Address,City,State,Zip,Phone,Lat,Long_,Restaurant

In [5]:
# Loop through search items
for place in search_urls:
    
    # Create search query, make request and store in json
    query_url = f'{url}{place}&key={api_key}'
    response = requests.get(query_url).json()
    # print(query_url)
    # Loop through results
    for item in response['results']:
        # Check if location is in MN
        # print(item)
        if 'Minnesota' in item['plus_code']['compound_code']:
            # Assign values
            item_dict = {
                # 'X': item['geometry']['location']['lng'],
                # 'Y': item['geometry']['location']['lat'],
                'Rating': item['rating'],
                'Total User Ratings': item['user_ratings_total'],
                # 'Letter': 'x',
                'Address': item['vicinity'],
                'City': item['vicinity'],
                'State': 'MN',
                # 'Zip': 0,
                # 'Phone': 000,
                'Lat': item['geometry']['location']['lat'],
                'Long_': item['geometry']['location']['lng'],
                'Restaurant': item['name']
            }

            places.append(item_dict)

# # Create search query, make request and store in json
# response = requests.get(chick_url).json()

In [6]:
len(places)

147

In [7]:
df = pd.DataFrame(places)
df

,Rating,Total User Ratings,Address,City,State,Lat,Long_,Restaurant
0,4.3,2167,"8020 MN-7, St Louis Park","8020 MN-7, St Louis Park",MN,44.937051,-93.381334,Chick-fil-A Knollwood
1,4.4,1346,"2090 Snelling Ave N, Roseville","2090 Snelling Ave N, Roseville",MN,45.004271,-93.165906,Chick-fil-A
2,4.5,4137,"2500 W 79th St, Bloomington","2500 W 79th St, Bloomington",MN,44.861015,-93.310701,Chick-fil-A
3,4.3,138,"615 Washington Ave SE, Minneapolis","615 Washington Ave SE, Minneapolis",MN,44.973977,-93.229253,Chick-fil-A
4,4.2,335,"3005 Harbor Ln N, Plymouth","3005 Harbor Ln N, Plymouth",MN,45.013267,-93.462382,Chick-fil-A
...,...,...,...,...,...,...,...,...
142,3.6,1358,"4605 Central Ave NE, Minneapolis","4605 Central Ave NE, Minneapolis",MN,45.052127,-93.246878,McDonald's
143,3.4,1084,"3220 Southdale Cir, Edina","3220 Southdale Cir, Edina",MN,44.882146,-93.319643,McDonald's
144,3.3,1289,"1351 Town Centre Dr, Eagan","1351 Town Centre Dr, Eagan",MN,44.829875,-93.165308,McDonald's
145,3.5,922,"3990 Co Rd 42, Savage","3990 Co Rd 42, Savage",MN,44.747048,-93.330013,McDonald's
146,3.3,2022,"1388 Maryland Ave E, St Paul","1388 Maryland Ave E, St Paul",MN,44.977170,-93.042657,McDonald's

In [8]:
df['Restaurant'].unique()

array(['Chick-fil-A Knollwood', 'Chick-fil-A', 'Chick-fil-A Maplewood',
       'Sonic Drive-In', 'The Drive In Restaurant', 'Minnetonka Drive In',
       "Arby's", 'Dairy Queen Grill & Chill', 'Dairy Queen',
       'Dairy Queen (Treat)', 'Dairy Queen(treat)', 'Subway',
       'Taco Bell Defy', 'Taco Bell', 'Burger King', "McDonald's"],
      dtype=object)

In [7]:
# df.to_csv('places.csv', index=False)

In [16]:
df['Lat'].unique()

array([44.9370512, 45.0042709, 44.8610149, 44.9739768, 45.0132669,
       44.9248794, 45.1339491, 45.0942304, 44.7470673, 45.0329984,
       44.8331243, 45.1277373, 44.8591608, 44.9728086, 44.892506 ,
       45.0580368, 45.1989606, 44.7277288, 44.8836239, 44.8564932,
       45.0577832, 44.745869 , 44.8580794, 44.9494403, 45.3034684,
       45.4059336, 44.9367954, 45.0537471, 44.965776 , 45.035373 ,
       45.0556386, 44.9117886, 45.1990425, 44.8626594, 44.835821 ,
       45.316894 , 44.984972 , 44.921734 , 44.832759 , 45.0797057,
       45.004389 , 44.955398 , 44.8963267, 45.1577236, 44.728567 ,
       44.7312418, 45.0118609, 45.0286094, 44.8660707, 44.7881344,
       44.9661302, 45.0070647, 44.8632742, 44.7303024, 44.9262103,
       45.0129993, 44.9172238, 44.8606087, 44.8838469, 44.9150765,
       44.6951331, 45.1577662, 44.8529311, 45.0201217, 45.106004 ,
       44.6442808, 45.0408502, 44.9522295, 44.8277083, 44.883889 ,
       44.9211729, 44.7477468, 44.9529319, 44.9673889, 44.9408536,
       44.8819494, 44.8643936, 44.9559805, 44.8610408, 44.8242068,
       44.9262781, 44.97827  , 45.0159184, 44.7459118, 44.8106273,
       44.9380631, 44.7339135, 45.1242633, 44.9582086, 44.9721289,
       45.0561488, 45.1002212, 44.9346097, 44.7454708, 45.0037061,
       44.9987625, 44.9717096, 45.1617307, 44.8472871, 44.7324684,
       45.1290017, 44.8514069, 44.8318098, 44.9858446, 44.961648 ,
       45.0203843, 44.9494131, 44.973804 , 45.0593656, 44.744872 ,
       45.0719693, 45.0202207, 44.9187428, 44.9720859, 45.0059743,
       44.9368604, 44.8329295, 44.8267286, 44.7842929, 45.0034343,
       44.958552 , 45.1947609, 44.977726 , 44.8838531, 44.992145 ,
       44.8075813, 44.8003514, 44.9589606, 44.9490949, 45.0364065,
       44.7844779, 44.8578538, 45.0097975, 45.0027427, 44.9424074,
       44.9998628, 44.9553975, 45.0929418, 45.1275434, 44.931823 ,
       44.8819916, 44.830381 , 45.0521268, 44.8821464, 44.8298751,
       44.7470477, 44.97717  ])

In [10]:
df_clean = df.drop( df.query(" `Restaurant`=='The Drive In Restaurant' ").index)

In [11]:
df_clean = df_clean.drop( df_clean.query(" `Restaurant`=='Minnetonka Drive In' ").index)

In [12]:
df_clean['Restaurant'].unique()

array(['Chick-fil-A Knollwood', 'Chick-fil-A', 'Chick-fil-A Maplewood',
       'Sonic Drive-In', "Arby's", 'Dairy Queen Grill & Chill',
       'Dairy Queen', 'Dairy Queen (Treat)', 'Dairy Queen(treat)',
       'Subway', 'Taco Bell Defy', 'Taco Bell', 'Burger King',
       "McDonald's"], dtype=object)

In [13]:
df_clean.to_csv('places_rating.csv', index=True)

In [65]:
import sqlite3
import pandas as pd

In [66]:
conn = sqlite3.connect('fastfood_locations_twincities.db')

In [67]:
df_clean.to_sql('places', conn, if_exists='replace')

145

In [68]:
conn.close()