In [2]:
# Dependencies
import json
import requests
import pandas as pd
from config import api_key

In [33]:
# List of places
search_urls = ['Chick-fil-A', 'Sonic Drive-In', "Arby's", 'Dairy Queen', 'Subway']

# API URL
url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=44.9778,-93.2650&radius=50000&keyword='

# Empty List
places = []

In [34]:
# X,Y,OBJECTID,ID,Letter,Address,City,State,Zip,Phone,Lat,Long_,Restaurant

In [35]:
# Loop through search items
for place in search_urls:
    
    # Create search query, make request and store in json
    query_url = f'{url}{place}&key={api_key}'
    response = requests.get(query_url).json()
    # print(query_url)
    # Loop through results
    for item in response['results']:
        # Check if location is in MN
        # print(item)
        if 'Minnesota' in item['plus_code']['compound_code']:
            # Assign values
            item_dict = {
                'X': item['geometry']['location']['lng'],
                'Y': item['geometry']['location']['lat'],
                'OBJECTID': 0,
                'ID': 0,
                'Letter': 'x',
                'Address': item['vicinity'],
                'City': item['vicinity'],
                'State': 'MN',
                'Zip': 0,
                'Phone': 000,
                'Lat': item['geometry']['location']['lat'],
                'Long_': item['geometry']['location']['lng'],
                'Restaurant': item['name']
            }

            places.append(item_dict)

# # Create search query, make request and store in json
# response = requests.get(chick_url).json()

In [36]:
df = pd.DataFrame(places)
df

,X,Y,OBJECTID,ID,Letter,Address,City,State,Zip,Phone,Lat,Long_,Restaurant
0,-93.381334,44.937051,0,0,x,"8020 MN-7, St Louis Park","8020 MN-7, St Louis Park",MN,0,0,44.937051,-93.381334,Chick-fil-A Knollwood
1,-93.165906,45.004271,0,0,x,"2090 Snelling Ave N, Roseville","2090 Snelling Ave N, Roseville",MN,0,0,45.004271,-93.165906,Chick-fil-A
2,-93.310701,44.861015,0,0,x,"2500 W 79th St, Bloomington","2500 W 79th St, Bloomington",MN,0,0,44.861015,-93.310701,Chick-fil-A
3,-93.229253,44.973977,0,0,x,"615 Washington Ave SE, Minneapolis","615 Washington Ave SE, Minneapolis",MN,0,0,44.973977,-93.229253,Chick-fil-A
4,-93.462382,45.013267,0,0,x,"3005 Harbor Ln N, Plymouth","3005 Harbor Ln N, Plymouth",MN,0,0,45.013267,-93.462382,Chick-fil-A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,-93.220080,45.015918,0,0,x,"2900 1/2 Pentagon Dr, St Anthony","2900 1/2 Pentagon Dr, St Anthony",MN,0,0,45.015918,-93.220080,Subway
83,-93.329813,44.745912,0,0,x,"3965 Egan Dr, Savage","3965 Egan Dr, Savage",MN,0,0,44.745912,-93.329813,Subway
84,-93.332552,44.810627,0,0,x,"10604 France Ave S Suite C, Bloomington","10604 France Ave S Suite C, Bloomington",MN,0,0,44.810627,-93.332552,Subway
85,-93.247062,44.938063,0,0,x,"3541 Cedar Ave S, Minneapolis","3541 Cedar Ave S, Minneapolis",MN,0,0,44.938063,-93.247062,Subway
86,-93.225562,44.733913,0,0,x,"7835 150th St W, Apple Valley","7835 150th St W, Apple Valley",MN,0,0,44.733913,-93.225562,Subway

In [37]:
df.to_csv('places.csv', index=False)